{% extends 'teachers/teachers_dashboard.html' %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Guruh nomi</th>
        <th scope="col">Yo'nalishi</th>
      </tr>
    </thead>
    <tbody >
        {% for team in teams %}
      <tr class="table-warning">
        <th scope="row">{{team.id}}</th>
        <td><a href="{% url 'teachers:lessons' team.id %}">{{team.name}}</a></td>
        <td>Dasturlash</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}