{% extends 'base.html' %}


{% block content %}
<div class="input-group rounded">
  <form method="get">
      <div class="input-group">
        <input type="search" class="form-control rounded" name="search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
      </div>
  </form>
</div>

<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Full name</th>
      <th>Username</th>
      <th>Status</th>
      <th>Team</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
  {% for student in students %}
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="{{student.user.image.url}}"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{student.user.first_name}} {{student.user.last_name}}</p>
            <p class="text-muted mb-0">{{student.user.email}}</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">{{student.user.username}}</p>
      </td>
      <td>
        <span class="badge badge-success rounded-pill d-inline">Active</span>
      </td>
      <td class="fw-normal mb-1">{{student.team}}</td>
      <td>
        <a href="{% url 'users:edit_student' student.id %}" class="btn btn-outline-info">
          Show
        </a>
          <a href="{% url 'users:delete_student' student.id %}" class="btn btn-outline-danger">
          Delete
        </a>
      </td>

    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content %}